services:
   db:
      image: postgres:16
      container_name: postgres
      restart: always
      environment:
         POSTGRES_USER: postgres
         POSTGRES_PASSWORD: postgres
         POSTGRES_DB: pma
      ports:
         - '5432:5432'
      volumes:
         - pgdata:/var/lib/postgresql/data

   app:
      build: ./
      container_name: pma
      depends_on:
         - db
      env_file:
         - .env
      ports:
         - '3000:3000'
      command: bun run dev

volumes:
   pgdata:
